.container {
  padding: var(--gutter-medium);
  padding-right: calc(2 * var(--gutter-medium));
  min-height: 100vh;
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: stretch;
  font-family: var(--font-family-main);

  .step-nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }

  .continue-button-container {
    position: absolute;
    bottom: var(--gutter-medium);
    left: var(--gutter-medium);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    pointer-events: none;
    button {
      pointer-events: all;
    }
  }
}
