.single-choice-screen {
  h2 {
    margin: 0;
  }
  .columns-container,
  .column.is-main {
    overflow: visible;
  }
  .model-choice-table {
    margin-left: 2rem;
    margin-top: -6rem;
    position: relative;
    pointer-events: none;
    padding-bottom: 5rem;
    th:not(:first-of-type) {
      max-width: 2rem;
      min-width: 2rem;
      min-height: 2rem;
      max-height: 2rem;
    }
    thead th {
      // background: var(--color-black);
      // color: white;
      vertical-align: top;
      padding: var(--gutter-small);
      pointer-events: none;

      &:not(:first-of-type) {
        height: 15rem;
        white-space: nowrap;
        font-size: 0.7em;
        > div {
          transform: translate(0, 14rem) rotate(315deg);
          width: 30px;
          > span {
            padding: 5px 10px;
          }
        }
      }
    }
    tbody {
      font-weight: 400;
      .model-row {
        cursor: pointer;
        min-height: 2rem;
        opacity: 0.5;
        pointer-events: all;
        &:nth-child(even) {
          background: lightgrey;
        }
        &.is-active {
          opacity: 0.7;
        }
        &.is-selected {
          opacity: 1;
        }

        th {
          height: 2rem;
          opacity: 0.8;
          &:hover {
            opacity: 1;
          }
        }
        &.is-selected {
          th {
            opacity: 1;
          }
          button {
            background: black;
            color: white;
            width: 100%;
          }
        }
      }
    }
  }

  .view-more-container {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    .view-more-btn {
      width: 100%;
      pointer-events: all;
    }
  }

  .loading {
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    &.is-active {
      display: flex;
    }
    > div {
      color: white;
    }
  }
}
