.filter-form {
  .count-indicator {
    background: var(--color-black);
    color: white;
    padding: 0.3em;
  }

  .variable-inputs {
    padding: var(--gutter-small);
    // border: 2px solid var(--color-black);
    &:not(:last-of-type) {
      margin-bottom: var(--gutter-small);
    }
    font-size: 0.7rem;

    h5 {
      margin: 0;
      font-size: 1rem;
    }

    input[type="text"] {
      border: none;
      font-family: inherit;
      font-size: 1rem;
      display: inline;
      border: 1px solid var(--color-black);
      box-sizing: border-box;
      &:focus {
        outline: none;
        border-width: 2px;
      }
    }
  }
}

.rc-slider-handle {
  border-color: var(--color-black);
}
.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  border-color: var(--color-black);
  border-width: 3px;
  box-shadow: none;
}
.rc-slider-track {
  background-color: var(--color-black);
}
