.filter-form {
  .count-indicator {
    background: var(--color-black);
    color: white;
    padding: 0.3em;
  }

  .variable-inputs {
    padding: var(--gutter-small);
    // border: 2px solid var(--color-black);
    &:not(:last-of-type) {
      margin-bottom: var(--gutter-small);
    }
    font-size: 0.7rem;

    h5 {
      margin: 0;
      font-size: 1rem;
    }

    input[type="text"] {
      border: none;
      font-family: inherit;
      font-size: 1rem;
      display: inline;
      border: 1px solid var(--color-black);
      box-sizing: border-box;
      &:focus {
        outline: none;
        border-width: 2px;
      }
    }

    .rc-slider-handle {
      border-color: var(--color-black);
    }
    .rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
      border-color: var(--color-black);
      border-width: 3px;
      box-shadow: none;
    }
    .rc-slider-track {
      background-color: var(--color-black);
    }

    .privacy-list-container {
      margin: var(--gutter-small) 0;
      button {
        font-size: 0.8rem;

        padding: var(--gutter-small);
        &.is-active {
          background: var(--color-black);
          color: white;
        }
      }
      .privacy-list {
        padding: 0;
        list-style: none;
        overflow: hidden;
        max-height: 0;
        transition: 0.5s ease all;
        &.is-visible {
          max-height: 100vh;
        }
        li {
          position: relative;
          cursor: pointer;
          label {
            padding-left: 2rem;
          }
          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
          }
          .checkmark {
            border: 2px solid var(--color-black);
            width: 1em;
            height: 1em;
            display: inline-block;
          }
          .checkmark:after {
            content: "";
            position: absolute;
            display: none;
          }
          input:checked ~ .checkmark:after {
            display: block;
          }
          .checkmark:after {
            left: 0.4em;
            top: 0.1em;
            width: 0.3em;
            height: 0.7em;
            border: solid black;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }
        }
      }
    }
  }
}
