.metrics-crossing-indicator {
  .crossing-indicator-items {
    list-style: none;
    padding: 0;
    font-size: 0.8rem;
    .crossing-indicator-item {
      border: 1px solid white;
      padding: calc(var(--gutter-small) / 2);
      opacity: 0.2;
      color: white;
      .info-tip {
        border-color: white;
      }
      &.active {
        opacity: 1;
      }
    }
  }
}
