.mini-graph-container {
  .mini-graph-title {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 0;
    > span:last-of-type {
      flex: 1;
    }

    .number-indicator {
      cursor: pointer;
      &:hover {
        background: grey;
      }
    }
  }

  &:last-of-type {
    margin-bottom: 5rem;
  }

  .values-container {
    display: flex;
    flex-flow: column nowrap;
    .value-container {
      display: flex;
      flex-flow: column nowrap;
      flex: 1;
      width: 100%;
      &:not(:last-of-type) {
        padding-bottom: 0.5rem;
      }
    }
    .separator {
      padding: 0 0.5rem;
    }
  }

  .rc-slider {
    margin-top: 0.3rem;
  }

  .brushable-scatterplot {
    margin-left: -1rem;
  }

  .rc-slider-handle {
    border-color: var(--color-black);
  }
  .rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
    border-color: var(--color-black);
    border-width: 3px;
    box-shadow: none;
  }
  .rc-slider-track {
    background-color: grey;
  }
}
