.step-nav {
  padding: var(--gutter-small);
  .step-nav-items-container {
    list-style: none;
    padding: 0;
    .step-nav-item {
      width: 2vh;
      height: 2vh;
      background: var(--color-black);
      margin-bottom: 2vh;
      border-radius: 50%;
      border: 1px solid var(--color-black);
      cursor: pointer;
      &:not(.active) {
        opacity: 0.5;
        background: none;
        &:hover {
          opacity: 0.8;
        }
      }
      &.disabled {
        opacity: 0.3;
        pointer-events: none;
      }
    }
  }
}
