/**
 * VARIABLES
 */
:root {
  --gutter-small: 1rem;
  --gutter-medium: calc(var(--gutter-small) * 2);
}

/**
 * TRANSITIONS
 */
.opa-enter {
  opacity: 0.01;
}

.opa-enter.opa-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.opa-leave {
  opacity: 1;
}

.opa-leave.opa-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
